<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantiful Pantry</title>
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
      <link rel="stylesheet" href="/CSS/style.css">
      <link rel="stylesheet" href="/CSS/animate.css">
  </head>
  <body>
    <header class="minWidth" >
        <section class="hero is-large has-background-primary-light">
          <div class="hero-head">
            <nav class="navbar">
              <div class="container">
                <div class="navbar-brand is-size-2">
                  Plantiful Pantry
                  {{!-- <span class="navbar-burger" data-target="navbarMenuHeroB">
                    <span></span>
                    <span></span>
                    <span></span>
                  </span> --}}
                </div>
                {{!-- <div id="navbarMenuHeroB" class="navbar-menu"> --}}
                  {{#if logged_in}}
                  <div class="navbar-end">
                    <a class="navbar-item ">
                      
                      <h4>Hi {{name}} !</h4>|
                    </a>
                    <span class="navbar-item">
                      <a class="button is-black is-rounded " id="logout">
                        <span class="icon">
                          <i class="fab fa-github" ></i>
                        </span>
                        <span>Logout</span>
                      </a>
                    </span>
                    
                  </div>
                  {{else}}
                  <div class="navbar-end">
                    <span class="navbar-item ">
                      
                      <h4 >Login or</h4>  |
                    </span>
                    <span class="navbar-item">
                      <h4>SignUp</h4>
                    </span>
                    
                  </div>
                   {{/if}}
                   {{!--  --}}
                {{!-- </div> --}}
              </div>
            </nav>
          </div>
        </section>
      </header>
      
      <main class="has-background-primary-light pt-6 pl-1 vh-100 minWidth">
      <div class="canvas-container">
  <canvas id="canvas2"></canvas>
  <div class="html-overlay">
        <!-- Render the sub layout -->
        {{{ body }}}
    </div>
    </div>
      </main>
      <footer>
      </footer>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  <script src="/js/Animation.js"></script>
  </body>
</html>








