.vh-100{
    height:calc(100vh - 72px);
}
.minWidth{
    min-width: 520px;
}
.maxWidth{
    max-width: 1024px;
}

body{ 
    background-color:#CCEDE7;

}
/* main{
    background-image: url(../Images/Background\ Image.png);
} */
    

